<md-content layout-margin layout-padding>

  <h3>Clientes</h3>

  <md-input-container >
    <label>Buscar</label>
    <input ng-model="searchText" placeholder="">
  </md-input-container>

  <table class="hoverable">
      <thead>
        <tr>
          <th data-field="nombre">Nombre</th>
          <th data-field="apellido">Apellido</th>
          <th data-field="ci">CI</th>
          <th data-field="Ruc">RUC</th>
          <th data-field="Telefono">Telefono</th>
          <th data-field="Celular">Celular</th>
          <th data-field="Mail">Mail</th>
        </tr>
      </thead>
      <tbody ng-repeat="cliente in clientes | filter: searchText" >
        <tr ng-click="cargar($event,cliente)">
          <td>{{cliente.nombre}}</td>
          <td>{{cliente.apellido}}</td>
          <td>{{cliente.ci}}</td>
          <td>{{cliente.ruc}}</td>
          <td>{{cliente.telefono}}</td>
          <td>{{cliente.celular}}</td>
          <td>{{cliente.mail}}</td>
        </tr>
      </tbody>
    </table>

</md-content>


